// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
// Bootstrap
@import '_bootstrap/bootstrap';

* {
  outline: none !important;
}

body {
  //background: #F8F9FB;
  background: #fff;
  padding: 80px 0 0;
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 0;
  background: #fff;
}

.logo {
  display: inline-block;
  float: left;
}

.main-menu {
  display: inline-block;
  float: right;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  & a {
    display: block;
    position: relative;
    padding: 0 1rem;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .1rem;
    line-height: 3rem;
    transition: color .3s Linear;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      height: 2px;
      background: #df0031;
      transition: left .3s Ease-in-out, right .3s Ease-in-out;
    }
    &:hover {
      color: #df0031;
    }
    &:hover:before {
      left: 0;
      right: 0;
    }
  }
}

.btn-menu {
  display: none;
  float: right;
  position: relative;
  border: none;
  padding: .5rem;
  background: transparent;
  z-index: 1002;
  &__line {
    display: block;
    margin: .25rem 0;
    width: 1.5rem;
    height: 2px;
    background: #3f4350;
    transition: width .15s linear;
  }
}

.copyright {
  padding: 2rem 0;
  color: #bbc1ce;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  transition: color .3s Linear;

  & svg {
    transition: fill .3s Linear;
  }

  &:hover {
    color: #000;

    & svg {
      fill: #df0031;
      stroke: #df0031;
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .main-menu {
    position: absolute;
    top: 0;
    left: -120%;
    z-index: 1001;
    padding: 3rem 1rem;
    height: calc(100vh + 100px);
    width: 70%;
    background: #fff;
    box-shadow: 0 0 10rem 0 rgba(66, 74, 117, 0.5);
    transition: left .15s Ease-in-out;
    &__item {
      display: block;
    }
  }
  .btn-menu {
    display: inline-block;
  }
  .substrate {
    opacity: 0;
    transition: opacity .15s Linear;
  }
  .menu-open {
    & .main-menu {
      left: 0;
    }
    & .btn-menu {
      &__line:nth-child(2) {
        width: .75rem;
        background: #df0031;
      }
    }
    .substrate {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -130px;
      height: calc(100vh + 100px);
      background: rgba(73, 68, 152, 0.1);
      opacity: 1;
    }
  }
}

//
//
//
//
///* LAYOUT
///* ================================================================================================================== */
//.header {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  padding: .85rem 0;
//  background: #fff;
//  z-index: 100;
//  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
//  @extend .shadow-sm;
//  &__logo {
//    display: inline-block;
//    cursor: pointer;
//  }
//}
//
//.main {
//  @extend .container;
//  flex-wrap: wrap;
//  display: flex;
//  padding: 0;
//  min-height: 600px;
//
//  & .section {
//    @extend .col;
//  }
//
//  & .aside {
//    @extend .col-md-4;
//    @extend .col-lg-3;
//  }
//}
//
//.footer {
//  margin: 2rem 0 0;
//  padding: 2rem 0 0;
//  background: #fff;
//  &-copy {
//    background: #f5f5f8;
//    margin-top: 2rem;
//    font-size: .8rem;
//    color: #6a7086;
//    line-height: 3rem;
//    & p {
//      @extend .container;
//      margin: 0 auto;
//    }
//  }
//}
//
///* COMPONENTS
///* ================================================================================================================== */
//
///* MAIN MENU */
//.menu-main {
//  display: inline-block;
//  &__list {
//    margin: 0;
//    padding: 0;
//    font-size: 0;
//    list-style: none;
//  }
//  &__item {
//    display: inline-block;
//  }
//  &__link {
//    display: block;
//    padding: 0 .5rem;
//    font-size: 1rem;
//    font-weight: 500;
//    color: #000;
//    &:hover {
//      color: #9d2aff;
//      text-decoration: none;
//    }
//  }
//}
//
//.button-menu {
//  display: none;
//  position: relative;
//  border: none;
//  padding: 0 0.5rem;
//  background: transparent;
//  z-index: 100;
//  &__line {
//    display: block;
//    margin: .25rem 0;
//    width: 1.5rem;
//    height: 2px;
//    background: #3f4350;
//    transition: width .15s linear;
//  }
//}
//
//@media (max-width: 768px) {
//  .menu-main {
//    position: absolute;
//    top: 0;
//    left: -100%;
//    padding: 3rem 1rem;
//    width: 60%;
//    background: #fff;
//    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
//    transition: left .15s linear;
//    z-index: 90;
//  }
//  .button-menu {
//    display: inline-block;
//  }
//  .menu-open {
//    & .menu-main {
//      left: 0;
//    }
//    & .button-menu {
//      &__line:nth-child(2) {
//        width: .75rem;
//        background: #df0031;
//      }
//    }
//  }
//}
//
///* AUTH MENU */
//.menu-auth {
//  display: inline-block;
//  float: right;
//  &__list {
//    margin: 0;
//    padding: 0;
//    font-size: 0;
//    list-style: none;
//  }
//  &__item {
//    display: inline-block;
//  }
//  &__link {
//    display: block;
//    padding: 0 .5rem;
//    font-size: 1rem;
//    font-weight: 500;
//    color: #000;
//    &:hover {
//      color: #9d2aff;
//      text-decoration: none;
//    }
//  }
//}
//
///* USER AUTH MENU*/
//.user-menu-header {
//  display: flex;
//  float: right;
//  &__name {
//    font-weight: 600;
//  }
//  &__photo {
//    position: relative;
//    margin: 0 0 0 .5rem;
//    & img {
//      height: 2.5rem;
//      width: 2.5rem;
//      border-radius: 50%;
//    }
//  }
//}
//
///* USER CARD */
//.user-card {
//  display: flex;
//  border-bottom: 1px Solid #f5f5f8;
//  padding: .5rem 0;
//  &:last-child {
//    border: none;
//  }
//  &__photo {
//    position: relative;
//    margin: 0 .5rem 0 0;
//    & img {
//      height: 3.5rem;
//      width: 3.5rem;
//      border-radius: 50%;
//    }
//  }
//  &__info {
//    width: 100%;
//  }
//  &__name {
//    font-weight: 600;
//  }
//  &__status {
//    color: #a9a9a9;
//    font-size: 0.7rem;
//    letter-spacing: .015rem;
//  }
//  &__dot-status {
//    position: absolute;
//    right: 0.05rem;
//    bottom: 0.1rem;
//  }
//}
//
///* CONTENT
//===================================================================================================================== */
//.content {
//  & img {
//    width: 100%;
//  }
//  &-header {
//    margin: 0 0 1rem;
//    &__title {
//      &-text {
//        display: inline;
//        margin: 0 0 1rem;
//        color: #000;
//        font-size: 1.5rem;
//        font-weight: 500;
//        line-height: 1.5;
//      }
//      &-link {
//        display: none;
//        float: right;
//        color: #a5a5a5;
//        font-size: .9rem;
//        white-space: nowrap;
//        transition: color .2s linear;
//        &:hover {
//          color: #000;
//          text-decoration: none;
//        }
//      }
//    }
//    &__menu {
//      padding: 0;
//      margin: 0;
//      font-size: 0;
//      list-style: none;
//      &-item {
//        display: inline-block;
//        margin: .5rem .5rem 0 0;
//      }
//      &-link {
//        display: inline-block;
//        background: #e7e7ea;
//        padding: .3rem .8rem;
//        font-size: .8rem;
//        font-weight: 500;
//        color: #212121;
//        letter-spacing: .5px;
//        border-radius: 3px;
//        transition: color .15s linear, background .15s linear;
//        &:hover {
//          color: #fff;
//          background: #2a2c2f;
//          text-decoration: none;
//        }
//        &--active {
//          cursor: default;
//          color: #fff;
//          background: #2a2c2f;
//        }
//      }
//    }
//  }
//}
//
//// USER PROFILE
//@media (max-width: 768px) {
//  body {
//    padding: 0;
//  }
//  header {
//    background: transparent !important;
//    color: #fff;
//    box-shadow: none !important;
//  }
//  .user-profile {
//    position: relative;
//    background: #fff;
//    padding: 1rem;
//    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//    text-align: center;
//    border-radius: 0 0 5% 5%;
//    margin: -0.5rem -15px 2rem;
//    overflow: hidden;
//    &__wrap {
//      position: relative;
//      z-index: 10;
//    }
//    & img {
//      // width: 150px;
//      margin: 4rem 0 2rem;
//      border-radius: .5rem;
//      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//    }
//  }
//}